    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    
    <script type="text/javascript">
    jQuery(document).ready(function(){
        
    jQuery("#removeBtn").click(function(e) {
        var email = $("#email").val();
        var password = $("#password").val();
        var isAdmin = $("#userMenu").val();
        jQuery.ajax({
            type: 'POST',
            url: '/users/remove',
            data:{email,password,isAdmin},
            success: (data, textStatus, jqXHR) =>{
                if (typeof data.redirect == 'string')
                    window.location.replace(window.location.protocol + "//" + window.location.host + data.redirect);
            }
                
        });
        
    });
    jQuery("#changeBtn").click(function(e) {
        var email = $("#email").val();
        var password = $("#password").val();
        var isAdmin = $("#userMenu").val();
        jQuery.ajax({
            type: 'POST',
            url: '/users/change',
            data:{email,password,isAdmin},
            success: (data, textStatus, jqXHR) =>{
                if (typeof data.redirect == 'string')
                    window.location.replace(window.location.protocol + "//" + window.location.host + data.redirect);
            }
                
        });
        
    });
    jQuery("#addBtn").click(function(e) {
        var name = $("#name").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var isAdmin = $("#userMenu").val();
        jQuery.ajax({
            type: 'POST',
            url: '/users/add',
            data:{name,email,password,isAdmin},
            success: (data, textStatus, jqXHR) =>{
                if (typeof data.redirect == 'string')
                    window.location.replace(window.location.protocol + "//" + window.location.host + data.redirect);
            }
                
        });
        
    });

    
    });

</script>


<div class="row mt-5">      
  <div class="col-md-6 m-auto">
    <a href="/users/ucadDB" class="btn btn-lg btn-secondary">Update DB</a>
    <a href="/users/selectDB" class="btn btn-lg btn-secondary">Select DB</a>
     <div class="card card-body">
     <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>UCAD USERS</h1>
     <% include ./partials/messages %>
     
        <div class="container">
            <form>
                <label>Name:</label>
                <input type="name" id = "name" placeholder="Enter Name" name = "name" value="<%= typeof name != 'undefined' ? name : '' %>" required>
            </form><br>
            <form>
                <label>Email:</label>
                <input type="email" id = "email" placeholder="Enter Email" name = "email" value="<%= typeof email != 'undefined' ? email : '' %>" required>
            </form><br>
            <form>
                <label>Password:</label>
                <input type="password" id = "password" placeholder="Enter Password" name="password" required>
            </form><br>
            <form>
                <label>User Type:</label><br>
                <select id = "userMenu" name="usersMenu">
                <option value="Student">Student</option>
                <option value="Professor">Professor</option>
                </select>
            </form> <br>

             <form>
                <!-- Example split danger button -->
                <div class="btn-group">
                        <button type="button" class="btn btn-success">Action</button>
                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a id='addBtn' class="dropdown-item" href="#">ADD USER </a>
                            <a id='removeBtn' class="dropdown-item" href="#">REMOVE USER </a>
                            <a id='changeBtn' class="dropdown-item" href="#">CHANGE PASSWORD</a>
                            <a id='makeadminBtn' class="dropdown-item" href="#">MAKE ADMIN</a>
                        </div>
                </div>
            </form>
        
        </div>
    </div>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
  </div>


</html>